<div class="skip-links" aria-label="Acesso rápido">
  <a accesskey="1" href="#main-content">Ir para o Conteúdo<strong class="accesskey">1</strong></a>
  <a accesskey="2" href="#navigation">Ir para para Navegação<strong class="accesskey">2</strong></a>
  <a accesskey="3" href="#main-searchbox">Ir para para Busca<strong class="accesskey">3</strong></a>
</div>
