<div class="row">
  <div class="col-3">
    <%= render 'search' , courses: @courses %>
  </div>
  <div class="col-9">
    <div class="row d-block">
      <h2>Cursos ... </h2>
      <p>Lista de cursos pelo critério escolhido</p>
    </div>
    <br>
    <div class="row">
      <% @courses.each do |course|  %>
        <div class="col-sm-7 col-md-5 col-lg-4">
          <div class="br-card">
            <div class="card-header">
              <div class="d-flex">
                </span></span>
                <div class="ml-3">
                  <p class="h5 text-primary-default mb-0"><%=course.name %></p><span><%= course.unit.name %></span>
                </div>
                <div class="ml-auto">
                </div>
              </div>
            </div>
            <div class="card-content">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore perferendis nam porro atque ex at, numquam
                non optio ab eveniet error vel ad exercitationem, earum et fugiat recusandae harum? Assumenda.</p>
            </div>
            <div class="card-footer">
              <div class="d-flex">
                <div>
                 <button class="br-button" type="button">Mais Informações</button>
                </div>
                <div class="ml-auto">
                  <button class="br-button circle" type="button" aria-label="Ícone ilustrativo">
                    <i class="fas fa-heart" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
